* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Merriweather", serif;
}
.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Banner.png");
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-description {
  justify-items: center;
  padding: 180px 0px;
  text-align: center;
}
.banner-title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  width: 632px;
}
main section {
  margin-top: 120px;
}
.sale-container {
  font-family: "Inter", sans-serif;
  text-align: center;
}
.sale-title {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 40px;
}
.sale-pera {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.sale-category {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}
.sale-photo {
  width: 802px;
  height: 500px;
}
/* midnight party section */
.party-container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Vectorrr.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.party-title {
  width: 642px;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 25px;
}
.party-pera {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
.party-btn {
  background-color: #510dda;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  border-radius: 5px;
  padding: 12px 18px;
}
.party-logo {
  width: 319px;
  height: 464px;
}
/* Address section */
.address-container {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: auto;
  width: 1320px;
  height: 482px;
  border-radius: 15px;
}
.address-description {
  color: #070211;
  text-align: center;
  padding-top: 100px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
span {
  color: #f00;
}
.add-btn {
  border-radius: 8px;
  background: #f00;
  margin-top: 50px;
}
/* NEW BEST OFFER */
.offer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  height: 450px;
  margin: auto;
  padding: 10px;
}
.offer-title-left {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.offer-title-right {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}
.offer-pera {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 393px;
  margin-bottom: 40px;
}
.offer-photo {
  width: 364.844px;
  height: 364.844px;
}
.photo {
  border-radius: 400px;
  border: 15px solid #f00;
  width: 365px;
  height: 365px;
  padding: 35px;
}
